*{
    margin : 0;
    padding: 0;
}
body{
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    background-color: coral;
}
#Nav-Bar{
    background-color: coral;
    padding: 10px;
    gap: 15px;
    background-color: #272727;
}

#Menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#Home,#About,#Contact{
    text-decoration: none;
    background-color: #272727;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    color: coral;
    transition: 0.3s;
}
#Home:hover{
    scale: 1.1;
    background-color: coral;
    color: #272727;
}

#About:hover{
    scale: 1.1;
    background-color: coral;
    color: #272727;
}

#Contact:hover{
    scale: 1.1;
    background-color: coral;
    color: #272727;
}


.grid-container {
    display: grid;
    height: 600px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 100px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace; 
}
  
  .grid-container > div {
    background-color: coral;
    text-align: center;
    padding: 5px 5px;
    height: 150px;
    text-align: center;
    font-size: x-large;
    transition: 0.5s;
  }
  .grid-container > div:hover {
    background-color: coral;
    border: 1px #272727 solid;
    border-radius: 15px;
    text-align: center;
    padding: 10px 5px;
    height: 150px;
    text-align: center;
    font-size: x-large;
    transform: translateY(-5px);
  }

#Footer{
    height: 48px;
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: #272727;

}
#fgap{
    cursor: pointer;
}

#fb,#github{
    transition: 0.5s;

}

#fb:hover,#github:hover{
    scale: 1.2;
    transform:translateY(-5px);
}
