body {
    font-family: Arial, sans-serif;
    background-color: coral;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    margin: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover {
    scale: 1.1;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: black;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

form {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px #ccc;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    color: #fff;
    background-color: coral;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.4s
}

button:hover {
    scale: 1.1;
}

.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.flash.success {
    background-color: #4CAF50;
    color: white;
}

.flash.danger {
    background-color: #f44336;
    color: white;
}
